@use "src/style/variables" as *;

.form_card {
    background-color: $background-fill;
    padding: $pd-md;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-self: stretch;
    border-radius: $border-lg;

    &_title {
        margin-bottom: $mr-lg;
    }
}

.form_card_text,
.form_card_email,
.form_card_textarea {
    width: 100%;
    padding: $pd-sm $pd-md;
    border-radius: $border-lg;
    border: none;
    border-color: $dark;
}

.form_card_text,
.form_card_email {
    margin-bottom: $mr-sm;
}

.form_card_textarea {
    height: 140px;
    margin-bottom: $mr-lg;
}

.form_card_submit {
    padding: $pd-xs $pd-xxl;
    border-radius: $border-xl;
    background-color: $dark;
    color: $light;
    border: none;
}

@media(min-width: $md) {
    .form_card {
        width: 65%;
    }
}

@media(min-width: $lg) {
    .form_card {
        width: 50%;
    }
}