@use "src/style/variables" as *;

.feature_card {
    display: flex;
    align-items: flex-start;
    padding: $pd-sm;
}

.feature_card {
    margin-bottom: $mr-md;
}

@media(min-width: $md) {
    .feature_card {
        margin-bottom: $mr-lg;
    }
}

@media(min-width: $lg) {
    .feature_card {
        width: 70%;
    }
}