@use "src/style/variables" as *;

.card {
    display: flex;
    align-items: flex-start;
    margin-bottom: $mr-md;
    padding: $pd-sm;
}

.card_title {
    margin-bottom: $mr-md;
}

.card_description {
    color: $info;
}

@media(min-width: $sm) {
    .card {
        width: 70%;
    }
}

@media(min-width: $md) {
    .card {
        margin-bottom: $mr-lg;
        width: 30%;
    }
}