@use "src/style/variables" as *;

.content_card {
  border: 1px solid $background-fill;
  border-radius: $border-lg;
  width: fit-content;
  height: fit-content;
}

.content_card_media {
  height: 200px;
  background-color: $background-fill;
  margin-bottom: $mr-md;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;

  &.content_card_video__poster {
    background-image: url("icons/play-circle.svg");
  }

  &.content_card_video__poster,
  &.content_card_image__poster,
  &__image {
    border-radius: 6px 6px 0 0;
  }

  &__video {
    height: 100%;
    width: 100%;
  }

  &__image {
    height: inherit;
    width: 100%;
    object-fit: cover;
  }
}

.content_card_info {
  padding: 0 $pd-md $pd-md;

  &_title {
    margin-bottom: $mr-md;
  }
}

.content_card_info_description {
  &__text:not(:last-child) {
    margin-bottom: $mr-xs;
  }

  &__text:last-child {
    margin-bottom: $mr-md;
  }
}

.content_card_footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $background-fill;
  align-items: center;
  padding: $mr-sm $mr-md;
}

.content_card_actions {
  display: flex;

  &_image {
    margin-right: $mr-xs;
  }

  &_comments,
  &_views {
    display: flex;
  }

  &_comments {
    margin-right: $mr-md;
  }
}

@media(min-width: $lg) {
  .content_card_video__poster {
    height: 350px;
  }

  .content_card_image__poster {
    height: 160px;
  }

  .content_card_footer {
    align-items: flex-start;
  }
}