@use "src/style/variables" as *;

.content_card {
  border: 1px solid $background-fill;
  border-radius: $border-lg;
}

.media {
  height: 200px;
  background-color: $background-fill;
  margin-bottom: $mr-md;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;

  &.video_poster {
    background-image: url("icons/play-circle.svg");
  }

  .media_video {
    height: 100%;
    width: 100%;
  }

  .media_image {
    height: inherit;
    width: 100%;
    object-fit: cover;
  }
}

.content {
  padding: 0 $pd-md $pd-md;

  .content_title {
    margin-bottom: $mr-md;
  }
}

.description {
  .description_text:not(:last-child) {
    margin-bottom: $mr-xs;
  }

  .description_text:last-child {
    margin-bottom: $mr-md;
  }
}

.content_card_footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $background-fill;
  align-items: center;
  padding: $mr-sm $mr-md;
}

.actions {
  display: flex;

  .actions_image {
    margin-right: $mr-xs;
  }

  .actions_comments,
  .actions_views {
    display: flex;
  }

  .actions_comments {
    margin-right: $mr-md;
  }
}
