@use "src/style/variables" as *;

  .small {
    border-radius: $border-xl;
    padding: $pd-xs $pd-sm;
  }

  .medium {
    border-radius: $border-xl;
    padding: $pd-xs $pd-xxl;
  }
  
  .large {
    border-radius: $border-xxl;
    padding: $pd-sm $pd-xxl;
  }
  
  .highlight_button {
    cursor: pointer;
    background-color: $dark;
    text-transform: uppercase;
    color: $light;
    border: none;
  }