@use "src/style/variables" as *;

.button {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.55;
  }

  .small {
    border-radius: 24px;
    padding: 8px 16px;
  }

  .medium {
    border-radius: 24px;
    padding: 8px 80px;
  }
  
  .large {
    border-radius: 30px;
    padding: 16px 80px;
  }
  
  .highlight_button {
    cursor: pointer;
    background-color: $dark;
    text-transform: uppercase;
    color: $light;
    border: none;
  }