@use "src/style/variables" as *;

.service_card {
    display: flex;
    flex-direction: column;
    padding: $pd-lg;
    background-color: $background-fill;
    border-radius: $border-md;
    margin-bottom: $mr-lg;
    
    &_title,
    &_description {
        margin-bottom: $mr-lg;
    }

    &_link {
        max-width: fit-content;
    }
}