@use "src/style/variables" as *;

.info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    font-weight: $font-bold;
    font-size: $font-md;
    font-family: $family-secondary;
}

.icon_info {
    display: flex;
    align-items: center;
    gap: 16px;
}