@use "src/style/variables" as *;

.info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info_title {
    font-weight: $font-bold;
    font-size: $font-md;
    font-family: $family-secondary;
}

.info_icon {
    display: flex;
    align-items: center;
    gap: 16px;
}