@use "src/style/variables" as *;

.hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: $mr-xl;
    width: 100%;
    text-align: center;
    padding-top: $pd-lg;
    padding-bottom: $pd-lg;
}

.content {
    padding-top: $pd-xl;
    padding-bottom: $pd-xl;
}

.text_content {
    margin-bottom: $mr-xl;
}

@media(min-width: 1024px) {
    .hero {
        padding-top: $pd-xxl;
        padding-bottom: $pd-xxl;
    }

    .content {
        width: 65%;
        margin: 0 auto;
    }
}