@use "src/style/variables" as *;
// HERO
.hero {
    background-image: url('img/default-img.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.text_content {
    margin-bottom: 40px;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.22;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    color: $info;
}
// FEATURES
.feature_cards {
    display: grid;
    align-items: flex-start;
}

// SERVICES
.service_cards {
    display: grid;
}

// TEAM
.team_cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

// OUR Story
.our_story_video {
    margin-bottom: 32px;
}

.our_story_images {
    display: grid;
    row-gap: 32px;
}

// CONTACT US
.contact_us {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

@media(min-width: 479px) {
    .our_story_images {
        grid-template-columns:repeat(2, 1fr);
        column-gap: 24px;
    }
}

@media(min-width: 1024px) {
    // HERO
    .hero {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .content {
        width: 65%;
        margin: 0 auto;
    }

    // our story
    .our_story { // TODO: Fix for desktop version
        display: flex;
    }

    .our_story_video {
        margin-right: 32px;
    }
}