@use "src/style/variables" as *;

// FEATURES
.feature_cards {
    display: grid;
    align-items: flex-start;
}

// SERVICES
.service_cards {
    display: grid;
}

// TEAM
.team_cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

// OUR Story
.our_story_video {
    margin-bottom: $mr-lg;
}

.our_story_images {
    display: grid;
    row-gap: 32px;
}

// CONTACT US
.contact_us {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

@media(min-width: 479px) {
    .our_story_images {
        grid-template-columns:repeat(2, 1fr);
        column-gap: 24px;
    }
}

@media(min-width: 1024px) {

    // our story
    .our_story { // TODO: Fix for desktop version
        display: flex;
    }

    .our_story_video {
        margin-right: $mr-lg;
    }
}