@use "src/style/variables" as *;

// FEATURES
.feature_cards {
    display: grid;
    align-items: flex-start;
}

// SERVICES
.service_cards {
    display: grid;
}

// TEAM
.team_cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

// OUR Story
.our_story_video {
    margin-bottom: $mr-lg;
}

.our_story_images {
    display: grid;
    row-gap: 32px;
}

// CONTACT US
.contact_us {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

@media(min-width: $sm) {
    .our_story_images {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
    }

    .feature_cards,
    .service_cards {
        justify-items: center;
    }
}

@media(min-width: $md) {
    .feature_cards,
    .service_cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .service_cards {
        gap: 40px;
    }

    .contact_us {
        justify-content: center;
        flex-direction: row;
    }
}

@media(min-width: $lg) {
    .team_cards {
        justify-content: space-between;
    }

    .our_story {
        display: flex;
        align-items: flex-start;

        .our_story_video {
            margin-bottom: unset;
            margin-right: $mr-lg;
            width: 50%;
        }

        .our_story_images {
            column-gap: 16px;
            width: 50%;
        }
    }
}

@media(min-width: $xl) {
     .our_story {
        .our_story_images {
            column-gap: 32px;
        }
    }
}