@use "src/style/variables" as *;

.team_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $pd-lg;
    max-width: fit-content;

    &_avatar {
        margin-bottom: $mr-lg;
    }

    &_title {
        margin-bottom: $mr-xs;
    }
}
