@use "src/style/variables" as *;

.header {
  background-color: $light;
  padding-top: $pd-sm;
  padding-bottom: $pd-sm;
  box-shadow: $shadow;
  position: sticky;
  top: 0;
}

.header_tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_navigation {
  display: flex;
  align-items: center;

  &_logo {
    object-fit: cover;
    margin-right: $mr-sm;
  }
}

.header_menu {
  background-color: $dark;
  border-radius: $border-md;
  display: flex;
  padding: $pd-xxs;
  cursor: pointer;
}

.header_menu_tabs {
  display: none;
}

@media(min-width: $sm) {
  .header {
    &_button {
      font-size: $font-sm;
      padding: $pd-xs $pd-xl;
      border: 1px solid $dark;
    }
  }
} 

@media(min-width: $md) {
  .header_menu {
    display: none;

    &_tabs {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }
}
