@use "src/style/variables" as *;

.header {
  background-color: $light;
  padding-top: $pd-sm;
  padding-bottom: $pd-sm;
  box-shadow: $shadow;
  position: sticky;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;

  .logo {
    width: 50px;
    object-fit: cover;
    margin-right: $mr-sm;
  }
}

.menu {
  background-color: $dark;
  border-radius: $border-md;
  display: flex;
  padding: $pd-xxs;
  cursor: pointer;

  .menu_image {
    width: 36px;
    height: 36px;
  }
}
