@use "src/style/variables" as *;

.section_title {
    text-align: center;
    margin-bottom: $mr-lg;
}

.section_description {
    text-align: center;
    color: $info;
    margin-bottom: $mr-xl;
}

@media(min-width: $xl) {
    .section {
        width: 45%;
        margin: 0 auto;
    }
}
