@use "src/style/variables" as *;

.title {
    text-align: center;
    margin-bottom: $mr-lg;
}

.description {
    text-align: center;
    color: $info;
    margin-bottom: $mr-xl;
}

@media(min-width: $sm) {
    .section_header {
        width: 45%;
        margin: 0 auto;
    }
}
