@use "src/style/variables" as *;

.footer {
  border-top: 1px solid $background-fill;
}

.footer > div,
.socials,
.copyright {
  display: flex;
}

.footer > div {
  justify-content: space-between;
  padding: $pd-md;
}

.socials,
.copyright {
  gap: 16px;
}
