@use "src/style/variables" as *;

.footer {
  border-top: 1px solid $background-fill;
}

.footer > div,
.footer_socials,
.footer_copyright {
  display: flex;
}

.footer > div {
  justify-content: space-between;
  padding: $pd-md;
}

.footer_socials,
.footer_copyright {
  gap: 16px;
}
