/*
- 1.Imports
- 2.Reset 
- 3.Containers
- 4.Typography
- 5.Colors
*/

// 1.Imports
@use "src/style/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// 2.Reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  border: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

#root,
#__next {
  isolation: isolate;
}

// 3.Containers
.container {
  padding-left: 24px;
  padding-right: 24px;
}

.wrapper {
  padding: 40px 24px;
}

// 4.Typography
.heading_typography {
  font-size: $font-xl;
  font-family: $family-primary;
  font-weight: $font-bold;
  line-height: $line-sm;
}

.section_typography {
  font-size: $font-sm;
  font-family: $family-base;
  font-weight: $font-light;
  line-height: $line-md;
}

.anchor_typography {
  font-size: $font-sm;
  font-family: $family-base;
  font-weight: $font-bold;
  line-height: $line-md;
  text-transform: capitalize;
}

.card_heading_typography {
  font-size: $font-md;
  font-family: $family-base;
  font-weight: $font-bold;
  line-height: $line-md;
}

.big_heading_typography {
  font-size: $font-lg;
  font-family: $family-primary;
  font-weight: $font-bold;
  line-height: $line-md;
  text-transform: none;
  text-decoration: none;
}

.card_text_typography {
  font-size: $font-xs;
  font-family: $family-base;
  font-weight: $font-light;
  line-height: $line-md;
  text-transform: none;
  text-decoration: none;
  font-style: normal;
}

// 5.Colors
.barely-visible {
  color: $info;
}