@use "src/style/variables" as *;

.icon {
    background-color: $background-fill;
    border-radius: $border-circle;
    padding: $pd-xs;
    margin-right: $mr-md;

    &_image {
        max-width: 36px;
    }
}